# Build artifacts
/build/
/cmake-build-*/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
cmake_test_discovery.json

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Test Data
/data/

